@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
        margin: 0;
        padding: 0;
        font-family: cursive;
        background: url(bg.jpeg) no-repeat;
        background-size: cover;
}